@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #202021;
  background-color: #fbfbfb;
}


li {
  list-style: none;
}

.dropdown-header {  padding: 0 8px;
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) ;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.dropdown-text {
  font-weight: bold;
}

.dropdown-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}

button {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 80%;
  text-align: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

}

button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}

button:focus {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}
